html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "Roboto", Helvetica, Arial, sans-serif;
   color:#FFFFFF;
   margin: 0;
 }
 main {
  background-color: #000000;
}
 h1, h2, h3, h4, h5, h6 {
   font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
 }
 h2 {
   font-size:16px;
   font-weight: normal;
   margin-bottom: 5px;
 }
 p {
   font-size:12px;
   line-height: 19px;
   font-weight: 100;
  }
  A {
     text-decoration:none;
   }
@media (min-width: 620px) {
  h2 {
     font-size:28px;
     font-weight: normal;
     margin-bottom: 5px;
   }
 }
 @media (min-width: 768px) {
   p {
     font-size:16px;
     line-height: 19px;
     font-weight: 100;
   }
 }
 /* GRID */
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    padding-bottom: 40px;
  }
  .container:before,
  .container:after {
    content: " ";
    display: table;
  }
  .container:after {
    clear: both;
  }
  .one-half, .one-third, .one-fourth {
    width:96%;
    float:left;
    position:relative;
    min-height: 1px;
    margin:0 2% 20px;
    }
  }
  @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }
 /* HEADER */
  header {
    color:#FFFFFF;
    background: #000000;
    background-image: linear-gradient(206deg, #8B9998 0%, #000000 94%);
  }
  header nav {
    padding:1em 0;
  }
  .header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  max-width: 1470px;
  margin: 0 auto;
  align-items: center;
  background-color: #000000;
  background-image: linear-gradient(206deg, #8c7534 0%, #000000 94%);
  }
  .one-half {
    max-width: 34%;
  }
  header nav ul {
  padding: 10px 15px;
  display: flex;
  float: right;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
  }
@media (min-width: 639px){
  header nav ul {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
  }
}
  header nav ul > li {
    list-style-type: none;
    display: inline-block;
    margin:0 15px;
  }
  header nav ul > li.btn-outline {
    padding:10px 15px;
    border:2px solid #00000;
    border-radius: 4px;
    display: inline-table;
  }
  header nav ul > li.btn-outline:hover {
    background:#FFFFFF;
  }
  header nav ul > li > a {
    color:#FFFFFF;
    text-decoration: none;
    display: inline-block;
  }
  header nav ul > li.btn-outline:hover > a {
    color:#34495E;
  }
  .sign-in-links {
    list-style: none;
    display: flex;
}
  .sign-in-links li {
  margin: 0 20px;
  font-size: 80%;
  display: inline-table;
}
.sign-in-links li:last-child {
  margin-right: 20;
}
@media (min-width: 700px) {
  .sign-in-links {
    list-style: none;
    display: flex;
    max-height: 100%;
  }
}
@media (min-width: 700px) {
    .sign-in-links li {
    margin: 0 20px;
    max-height: 100%;
  }
}
@media (min-width: 700px) {
  .sign-in-links li:last-child {
    margin-right: 0;
    max-height: 100%;
  }
}
  header .hero {
   text-align: center;
   display:block;
   position: relative;
 }
    header .site-logo img {
      max-width: 100%;
      height: auto;
      align-self: flex-start;
  }
 }
 header .hero h1 {
   font-size:32px;
   font-weight: normal;
   margin:95px 0 0;
 }
 @media (min-width: 620px) {
 header .hero h1 {
   font-size:48px;
   font-weight: normal;
   margin:95px 0 0;
 }
}
 header .hero p {
   font-size: 18px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }
   @media (min-width: 620px) {
   header .hero p {
    font-size: 22px;
    line-height: 26px;
    font-weight: 100;
    margin:10px 0 40px;
   }
 }
 header .hero img {
   max-width: 100%;
   height: auto;
   Margin: 3em auto 0;
   display: block;
   margin-bottom: -.5px;
 }
  @media (min-width: 320px) {
   header .hero img {
     max-width: 100%;
     height: auto;
     Margin: 3em auto 0;
     display: block;
     margin-bottom: -2.5px;
   }
 }
 @media (min-width: 620px) {
   header .hero img {
     display:block;
     margin:3em auto 0;
     margin-bottom: 40px;
   }
 }
 /* BUTTONS */
 .btn {
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: 400;
   text-decoration: none;
   padding:5px 15px;
   background: #db1212;
   border: 2px solid #db1212;
   box-shadow: 0px 2px 0px 0px #bb1d1d;
  }
  @media (min-width: 460px) {
    .btn {
      border-radius: 4px;
      color:#FFFFFF;
      font-weight: 700;
      text-decoration: none;
      padding:10px 30px;
      background: #db1212;
      border: 2px solid #db1212;
      box-shadow: 0px 2px 0px 0px #bb1d1d;
    }
    /* BENEFITS */
  .benefits {
    text-align: center;
    display:block;
    position:relative;
    background-color: #8c7534;
  }
  .benefits ul {
    margin: 0 auto;
    padding:4em 0;
  }
  .benefits ul li {
    list-style-type: none;
    display: inline-block;
  }
  .benefits i {
    color:#2DC4BA;
    font-size:45px;
    margin:0;
    vertical-align: middle;
  }
    @media (min-width: 460px) {
      .benefits i {
      color:#FFFFFF;
      font-size:45px;
      margin:0;
      vertical-align: middle;
    }
  }
  @media (min-width: 620px) {
    .benefits i {
    font-size:60px;
    }
  }
  .benefits h2 {
    color:#FFFFFF;
  }
    @media (min-width: 460px) {
      .benefits h2 {
      color:#FFFFFF;
    }
  }
   .row-2 {
     padding-top: 20px
   }

  /* PRICING */
   .movies .container {
     text-align: left;
     padding:4em 0 2em;
   }
   /* MOVIES */
   .album-covers.container.clearfix {
   background: linear-gradient(206deg, #000000 0%, #000000 94%);
   background-size: cover;
   margin: auto;
   padding-bottom: 40px;
   }
 /* Extra Insentive */
 .Sign-Up {
   text-align: center;
   padding-bottom: 80px;
 }
 .Sign-Up h2 {
   color:#2DC4BA;
   margin: auto;
   padding-bottom: 40px;
 }
 @media (min-width: 460px) {
 .Sign-Up h2 {
   color:#50E3C2;
   margin: auto;
   padding-bottom: 40px;
 }
   }
 /* FOOTER */
 footer {
   background-color: #000000;
   background-image: linear-gradient(to top,
     #000000 0%, #000000 50%, #2DC4BA 50%, #2DC4BA 100%);
     color: #FFFFFF;
   height: 150px;
   position: relative;
   overflow: hidden;
   z-index: 0;
   }
   @media (min-width: 460px) {
      footer {
      background-color: #000000;
      background-image: linear-gradient(to top,
      #000000 0%, #000000 50%, #8c7534 50%, #8c7534 100%);
      color: #FFFFFF;
      height: 150px;
      position: relative;
      overflow: hidden;
      z-index: 0;
   }
 }
 .container.footer-nav-block {
    background-color: #000000;
    background-image: linear-gradient(206deg, #8c7534 0%, #000000 94%);
    color: #FFFFFF;
    height: 200px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
 footer p, footer nav ul {
   font-size:14px;
   font-weight:100;
   text-align: center;
   margin: 10px auto 0;
 }
 footer nav ul li {
   list-style-type: none;
   display: inline;
 }
 footer nav ul li a {
   color:#FFFFFF;
   text-decoration: none;
 }
 footer .right-footer-block {
   background-color: transparent;
 }
 footer .logo{
   padding: -1.35em 0;
   margin: 0 auto;
   display: block;
 }
@media (min-width: 992px){
 footer .logo{
   padding: 2.35em 0;
   margin: 0 auto;
   display: block;
   }
 }
 @media (min-width: 992px){
   footer{
     background-color: #000000;
     background-image: linear-gradient(to left,
        #000000 0%, #000000 33.33337%, #000000 33.33337%, #000000 100%);
     height: 100px;
   }
   footer p, footer nav ul{
     padding: 2em 0;
     text-align: left;
   }
   footer .right-footer-block {
     background-color: none;
   }
   footer .logo{
     padding-top: 15px;
     background-color: none;
   }
 }
 /* DASHBOARD */
 .dashboard {
   background:#F7F7F7;
 }

 /* CONTENT */
 .content {
  padding:6em 1% 1.5em;
  float:right;
  width:98%;
  position: relative;
}
.content .header {
  margin:0 1% 20px;
}
@media (min-width: 460px) {
  .content .header {
    margin:-20px 1% 20px;
  }
}
.content .header h1 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin:0 0 0px;
  font-size: 28px;
  color: #2DC4BA;
  line-height: 44px;
  float: left;
  display: inline-block;
  padding-left: 0px;
}
@media (min-width: 460px) {
.content .header h1 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin:0 0 0px;
  font-size: 36px;
  color: #50E3C2;
  line-height: 44px;
  float: left;
  display:inline-block;
  padding-left: 0px;
  }
}
.content .header > a {
  float:right;
}
.content-item {
  width:96%;
  margin:0 2% 25px;
  float:left;
  display:block;
}
.item-box {
  display:block;
  height:230px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
  position: relative;
  overflow: hidden;
  padding:20px;
}
/* Larger Mobile Devices */
 @media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:90%;
     position: relative;
   }
   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
 }
/* Tablets */
 @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }
   .content > .container {
     width:700px;
   }
   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
   }
 }
/* Laptops and Desktops */
 @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:83.33333333%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
 }
 .item-box > img {
   position:absolute;
   height:100%;
   width:auto;
   top:0;
   left:0;
   right:0;
 }
 .item-box h2 {
   font-family: 'Roboto', Helvetica, Arial, sans-serif;
   font-weight: 700;
   font-size: 15px;
   line-height: 17px;
   margin:0;
 }
 .item-box h2 a {
   color: #2DC4BA;
   text-decoration: none;
 }
 @media (min-width: 460px) {
   .item-box h2 a {
   color: #50E3C2;
   text-decoration: none;
   }
 }
 .item-box h2 img {
   width:16px;
   height:16px;
   position:relative;
   top:2px;
   margin-right:5px;
 }
 .item-box p {
   font-size: 14px;
   color: #333333;
   line-height: 18px;
   margin:5px 0 0;
 }
/* selected link */
a:active {
    color: #FFFFFF;
}
.collection-album-container {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
body.theater-mode{overflow:hidden;position: absolute;display:inline-table;font-weight:400;margin:0}h1{font-size:34px;line-height:42px}h2{font-size:28px;line-height:28px}h3{font-size:18px;line-height:18px}p{line-height:24px;padding-bottom:12px}input,textarea{border:none;border-radius:3px;font-size:14px;padding:10px}input{height:33px}b,strong{font-weight:600}.red-text{color:#ff4f37}.blue-text{color:#0cf}.container{background-size:cover;margin:0 auto;max-width:1420px;position:relative;width:100%}.column{float:left;font-size:16px;line-height:20px}.
